body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
nav {
  background-color: rgb(250, 252, 255);
  display: flex;
  min-height: 70px;
  border-bottom: solid 2px rgb(182, 216, 111);
  position: fixed;
  width: 100%;
  top: 0;
}
.scrow-nav {
  background-color: rgb(8, 56, 109);
  color: rgb(255, 255, 255);
  z-index: 30;
}
.scrow-nav a {
  background-color: rgb(8, 56, 109);
}
.scrow-nav .link-div ul li a {
  color: rgb(255, 255, 255);
}
.scrow-nav .link-div ul li .btn {
  border: solid rgb(182, 216, 111);
}
nav .logo-div {
  /* border: solid; */
  margin: auto auto auto 10%;
}
nav .link-div {
  /* border: solid; */
  margin: auto 10%;
}

nav .link-div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav .link-div ul li .btn {
  background-color: rgb(8, 56, 109);
  padding: 16px 40px;
  color: #fff;
  border-radius: 10px;
  margin: 10px 0;
}
nav .link-div ul li {
  /* border: solid red; */
  display: flex;
}
nav .link-div ul li a {
  padding: 8px;
  margin: auto;
  text-decoration: none;
  color: #000;
  /* border: solid; */
}
.menu-lable {
  margin: auto 15px;
  display: none;
  font-size: 30px;
  font-weight: 200;
  position: absolute;
  top: 15px;
  right: 30px;
}
@media (max-width: 576px) {
  .menu-lable {
    display: block;
  }
  #check:checked ~ nav {
    display: block;
    transition: height ease-in-out 2s;
  }
  .logo-div {
    margin: 18px 18px !important;
  }
  #check:checked ~ nav .logo-div {
    margin: 18px 5px;
  }
  #check:checked ~ nav .link-div {
    display: block;
    /* border: solid; */
    /* margin-left: 5px; */
    /* width: 100%; */
  }
  #check:checked ~ nav .link-div ul {
    display: block;
    /* text-align: left; */
    /* border: solid; */
    /* margin-top: 30px; */
  }
  #check:checked ~ nav .link-div ul li .btn {
    width: 100%;
    margin: 20px auto;
  }
  #check:checked ~ nav .link-div ul li a {
    /* display: block; */
    /* border: solid green; */
    margin: 0;
    /* text-align: left; */
  }
  nav .link-div {
    display: none;
  }
}

.hero-div {
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
.hero-div .text-div {
  /* border: solid; */
  width: 40%;
  min-width: 300px;
  font-size: 14px;
  padding: 10px 0px;
  color: rgb(8, 56, 109);
  line-height: 24px;
  /* margin-left: 50px; */
}
.hero-div .text-div .partiner {
  font-weight: 700;
  font-style: normal;
  margin: 45px 0;
  font-size: 20px;
  color: rgb(52 52 52 / 70%);
  line-height: 22.6px;
}
.hero-div .text-div .img-container {
  display: flex;
}
.hero-div .text-div .img-container .img-div img {
  margin: 0;
}
.heading-1 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(8, 56, 109);
  /* line-height: 1; */
  line-height: 113.9%;
}
.text-div {
  font-size: 14px;
}
.hero-div .text-div a {
  text-decoration: none;
  padding: 16px 40px;
  background-color: rgb(8, 56, 109);
  color: #ddd;
  display: inline-block;
  margin: 20px 0;
  border-radius: 5px;
  /* border: solid; */
}
.heading-1 span {
  color: rgb(82, 163, 80);
}
.hero-div .img-div {
  /* border: solid; */
  width: 50%;
  display: flex;
}
.hero-div .img-div img {
  width: 80%;
  margin: auto;
  margin-top: 130px;
}
.benefit-section {
  background-color: rgb(250, 252, 255);
  margin-top: 48px;
  padding: 48px 0;
}
.benefit-section .text-div {
  text-align: center;
  font-size: 14px;
  color: rgb(8, 56, 109);
}
.benefit-section .text-div h2 {
  margin: 10px;
}

.benefit-section .icon-div {
  color: #000;
  /* border: solid; */
  padding: 16px;
  background: rgb(182, 216, 111);
  border-radius: 5px;
  height: 70px;
  margin: 10px;
}

.benefit-section .text p {
  margin-top: 20px;
  font-size: 14px;
}
.benefit-section .g-box {
  width: 350px;
  /* border: solid; */
}
.benefit-section .text h4 {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0;
  /* border: solid; */
  margin-bottom: 0;
}
footer {
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* background-color: rgb(250, 252, 255); */
  background-color: rgb(245, 250, 254);
  border-top: 2px solid rgb(182, 216, 111);
  padding: 30px 50px;
}
footer img {
  margin: 0 0 20px 0;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  /* border: solid; */
  margin: 30px 0px;
}
footer ul li a {
  /* text-decoration: none;
  color: black;
  font-size: 14px; */
  color: rgb(0 0 0);
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

footer .footer-btn {
  text-decoration: none;
  padding: 16px 30px;
  background-color: rgb(8, 56, 109);
  color: rgb(221 221 221);
  display: inline-block;
  margin: 20px 0;
  border-radius: 5px;
}
footer .icon-div ul {
  display: flex;
}
footer .icon-div ul li {
  margin: 0 10px;
}
footer .icon-div ul li i {
  font-size: 20px;
  color: rgb(8, 56, 109);
}
footer .footer-buttom-text {
  text-align: center;
  color: rgb(0 0 0);
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
}
@media (max-width: 767px) {
  footer {
    padding: 0;
  }
  footer .flexbox {
    flex-direction: column;
    align-items: center;
  }
  footer .flexbox {
    align-items: center;
    border: solid;
    width: 100%;
    text-align: center;
  }
  footer .icon-div {
    display: flex;
  }
  footer .icon-div ul {
    margin: 20px auto;
  }
}
.question-mark {
  position: fixed;
  bottom: 20%;
  right: 20px;
  /* border: solid; */
}
.question-mark a {
  text-decoration: none;
  color: #52a350 !important;
}
.question-mark a:hover {
  color: rgb(40, 167, 69) !important;
}
